{{define "title"}}Home{{end}}

{{define "main"}}
<h2>About</h2> 
<p>
Your goal for this exercise is to add a new page to the application. It should be mapped to the GET /about route, 
available to both authenticated and unauthenticated users, and look similar to this:!</p>
{{end}} 